body {
    background-color: rgb(63, 48, 48);
}

/* Nav CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}

a.navbutton {
    color:green;

}

a.sel {
    color: red;
}

li a {
    display: block;
    padding: 8px;
}

/* Centers the div tags */
.centered-div {
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;

}

/* Centers the text tags */

.centered-text {
    text-align: center;
}


/* Profile Modification */

#profile {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    border: 3px solid #808080;
    width: 50%;
}


#profile > h1 {
    text-align: center;
    color: white;
}

#profile > p {
    text-align: center;
    font-weight: bold;
    color: white;

}


#profile > div > img {

    width: 256px;
    height: 256px;
    padding: 15px;
}

/* Stats Modification */

#stats {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #808080;
    margin-top: 1%;
    padding-bottom: 1%;
    width: 50%;
}

#stats > h1 {
    text-align: center;
    color: white;
   
}

#contact > h1 {
    text-align: center;  
    color: white;
 
}

/* Stats Modification */

#contact {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    border: 3px solid #808080;
    margin-top: 1%;
    width: 55%;
}

#stats > table {
    width: 50%;
    border-collapse: collapse;
    object-fit: fill;
}
#stats > table, th, td {
    object-fit: fill;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(0, 0, 0);  
    text-align: center;
}

/* Contact CSS */ 

#contact > input[type=text] {
    color: white;
}

#contact > form > label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=submit] {
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}
  