body {
    background-color: rgb(63, 48, 48);
}

/* Nav CSS*/

nav > ul {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
  
nav > ul > li {
    margin-right: 5px;
    border: 1px solid transparent;
    float: left;
}

nav > ul > li:hover {
    border: 1px solid #808080;
    background-color: #808080;
}

a.navbutton {
    color:green;

}

a.navbutton:hover {
    color: #7DBBA4
}

a.button-tb {
    color:green;

}

a.button-tb:hover {
    color: #7DBBA4
}

a.sel {
    color: red;
}

a.sel:hover {
    color: #BB5353;
}

li a {
    display: block;
    padding: 8px;
}

/* Centers the div tags */
.centered-div {
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    margin-top: 1%;
}

/* Centers the text tags */

.centered-text {
    text-align: center;
}


/* Profile Modification */

#profile {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
    border: 3px solid #808080;
    width: 50%;
}

#profile > div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#profile > h1 {
    position: sticky;
    text-align: center;
    color: white;
    font-size: 40px;
}

#profile > p {
    text-align: center;
    font-weight: bold;
    color: white;

}

#profile > div > img {
    width: 25%;
    height: 25%;

    padding: 15px;
}

/* Stats Modification */

#stats {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #808080;
    margin-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    border-radius: 8px;
    overflow-x:auto;
}

#stats > h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

#stats > table {
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    border-collapse: collapse;
    box-sizing: border-box;
}

#stats > table, th, td {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 8px; 
    text-align: center;
    box-sizing: border-box;
}


/* Contact CSS */ 

#contact {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    border: 3px solid #808080;
    border-radius: 8px;
    margin-top: 1%;
    width: 55%;
}

#contact > h1 {
    text-align: center;  
    color: white;
    font-size: 30px;
}

#contact > input[type=text] {
    color: white;
}

#contact > form > label {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type=submit] {
    align-self: self-start;
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Simple modifications */
hr {
    margin-top: 1%;
    color: #808080;
}

#copyright {
    text-align: center; 
    color: white; 
}