//default variables 
$default-padding: 20px;
$default-border: inset 5px darkgreen;
$default-radius: 20px;

// body
$body-background-color: lightgray;
$body-border: solid 20px darkgray;

// title
$title-color: white;

// header 
$header-background-color: darkcyan;
$header-p-color: darkorange;

// dummytext 
$dummytext-background-color: darkkhaki;
$dummytext-p-color: cornflowerblue;

// footer 
$footer-background-color: darkgrey;
$footer-p-color: lightgreen;
